
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/*
* Colors
* background - f2f2f2 (off white), fdfdfd (white)
* font - 666 (gray), 999 (light gray), fdfdfd (white), 699 (green), f96 (orange), ffc (yellow)
* nav - 699
* link - 9cc (blue), 699 (green - hover)
* footer - 366 (dark green)
*
*/

/*
* Headings
* h1 - app name
* h2 - section title (filter results & reviews)
* h3 - restaurant names
* h4 - retaurnat cuisines
* h5 - restaurant neighbourhood
*/


/**
* Global Styles
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* sizing will include any border or padding */
  list-style: none;
  text-decoration: none;
  text-align: center;
  line-height: 1.2em;
}

body {
  background-color: #ebebeb;
  font-family: 'Open Sans', sans-serif; /* Google fonts Open Sans, 300, 400, 600, 700 */
  font-size: 16px;
  color: #666;
}

img {
  width: 100%;
  height: 100%; /* For Chrome */
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

a {
  color: #9cc;
}

a: hover {
  color: #366;
}

select {
  font-family: inherit;
}

table {
  width: 100%;
}

footer {
  padding: 2em 0;
  background-color: #366;
  border-top: 1px solid  #fdfdfd;
  font-size: 0.85em;
  color: #fdfdfd;
}


/**
* Flexbox styles
* https://css-tricks.com/snippets/css/a-guide-to-flexbox
*/

.flex-container,
.flex-container-center {
  display: flex; /* inline-flex container for all its direct children */
    flex-flow: row wrap; /* flex-items will wrap onto multiple lines */
}

.flex-container {
    justify-content: flex-start; /* items are evenly distributed in the line */
}

.flex-container-center {
    justify-content: center; /* items are centered */
}

.flex-item {
    width: 100%; /* default width */
}

.flex-item-1 {
  order: 1; /* first in line */
}

.flex-item-2 {
  order: 2; /* second in line */
}

.flex-item-3 {
  order: 3; /* third in line */
}

.flex-item-4 {
  order: 3; /* fourth in line */
}


/**
* Header
*/

/* Navigantion */
.main-nav {
  height: 53px;
  background-color: #699;
  border-bottom: 4px solid  #fdfdfd;
}

.brand {
  /* Google fonts Roboto, 100, 300, 400, 500 */
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

.brand a,
.brand a:hover {
  font-weight: 500;
  color: #fdfdfd;
}

.brand a span {
  font-weight: 300;
  margin-left: 7px;
}

/* Font awesome icon */
.fa-utensils {
  background-color: #fdfdfd;
  padding: 0.3em 0.4em;
  border-radius: 50%;
  color: #699;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 0.4em 1em 0.5em;
  color: #999;
  border-bottom: 1px solid #dcdcdc;
}

.breadcrumbs li+li:before {
    padding: 5px;
    content: "/\00a0";
}

/* Map */
#map {
  height: 300px; /* needs to have a height to be seen */
}

.restaurant-map {
  border-left: 4px solid  #fdfdfd;
  border-right: 4px solid  #fdfdfd;
}

/* Filters */
.filter-options {
  background-color: #fdfdfd;
  padding: 1.5em 3em;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.filter-title {
  display: none;
}

.filter-area,
.filter-cuisine {
  background-color:  #f2f2f2;
  border: 1px solid #dcdcdc;
  padding: 0.3em;
  text-align: left;
}

.filter-area {
  margin-bottom: 1em;
}


/**
* Restaurant listings (homepage)
*/

.restaurant-selection {
  margin: 1.5em 0.4em 0.4em;
}

.restaurant-listing a {
  margin-bottom: 1em;
  border: 1px solid #dcdcdc;
  background-color: #fdfdfd;
  color: #666;
}

.restaurant-listing a:hover {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.listing-name,
.listing-cuisine {
  background-color: #f2f2f2;
  padding: 0.4em 0 0.5em 0.4em;
  font-size: 0.9em;
  font-weight: 400;
}

.listing-name {
  width: 70%;
  text-align: left;
  font-weight: 500;
  color: #366;
}

.listing-cuisine {
  width: 30%;
  font-weight: 400;
}

.listing-img {
  width: 40%;
}

.more-info {
  width: 60%;
}

.listing-area {
  color: #699;
  font-size: 0.85em;
  line-height: 3em;
}

.listing-rating,
.listing-reviews {
  padding: 0 0 0.75em;
}

.listing-rating {
  color: #f96;
}

.listing-reviews {
  color: #999;
  font-size: 0.85em;
}

.listing-info {
  display: none; /* Don't show the info button on small screens */
}


/**
* Restaurant reviews at reviews page
*/

/* Avarage rating */
.ratings-overview {
  background-color: #fdfdfd;
  padding: 1em 0;
  color: #f96;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.total-reviews {
  color: #999;
}

/* Customer reviews*/
.reviews {
  padding: 2em 1em 1em;
  border-top: 1px solid #dcdcdc;
}

.reviews-title {
  /*line-height: 3em;
  font-size: 1.2em;*/
  display: none;
}

.reviews-listings {
  margin-bottom: 1em;
  background-color: #fdfdfd;
  border: 1px solid #dcdcdc;
  color: #666;
}

.reviews-name,
.reviews-text {
  text-align: left;
}

.reviews-name,
.reviews-date {
  background-color: #f2f2f2;
  padding: 0.75em;
  font-size: 0.9em;
  font-weight: 400;
}

.reviews-name {
  width: 40%;
  font-weight: 600;
  color: #366;
}

.reviews-date {
  width: 60%;
  text-align: right;
  font-weight: 400;
}

.reviews-rating {
  color: #f96;
  padding: 1em 0;
}

.reviews-text {
  padding: 0 1.5em 2em;
}


/**
* Restaurant info (reviews page)
*/

.restaurant-info {
  background-color: #fdfdfd;
  border-top: 1px solid #dcdcdc;
  padding: 1em 1.5em;
}

.name,
.opening-times {
  padding: 0.85em 0;
}

.cuisine {
  color: #699;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}

.address {
  border-bottom: 1px solid #dcdcdc;
  font-size: 0.85em;
  padding-bottom: 1em;
}

.opening-times {
  margin-left: 10%;
  color: #999;
  font-size: 0.8em;
}

.opening-times h4,
.weekdays,
.opening-hours {
  text-align: left;
  padding: 0.5em 0;
}

.weekdays {
  width: 35%;
}

.opening-hours {
  width: 55%;
}


/**
* Responsive layout
*/


/* extra small screens */
@media screen and (max-width: 310px) {
  body {
    font-size: 14px;
  }
}

/* medium screens */
{

}

/* large screens */
 {

}




